<div id="wrapper">

  <!-- Header -->
  <div class="navbar-fixed-top" style="margin:0;">
    <div class="navbar-container" id="navbar-container">
      <div class="navbar-brand">
        <i class="fa fa-wrench"></i> Jim's Auto Repair
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        {{#link-to "index"}}
          <i class="fa fa-home"></i>
          <span class="menu-text"> Index </span>
        {{/link-to}}
      </li>
      <li class="sidebar-brand">
        {{#link-to "customers"}}
          <i class="fa fa-male"></i>
          <span class="menu-text"> Customers </span>
        {{/link-to}}
      </li>
      <li class="sidebar-brand">
        {{#link-to "vehicles"}}
          <i class="fa fa-truck"></i>
          <span class="menu-text"> Vehicles </span>
        {{/link-to}}
      </ul>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    {{outlet}}
  </div>

</div>
