<div class="sidebar sidebar-fixed" {{bind-attr class="menuMini:menu-min"}} id="sidebar">
  <ul class="nav nav-list">
    {{#active-tag path="index"}}
      {{#link-to "index"}}
        <i class="icon icon-home"></i>
        <span class="menu-text">
          Index
        </span>
      {{/link-to}}
    {{/active-tag}}
    {{#active-tag path="customers"}}
      {{#link-to "customers"}}
        <i class="icon icon-home"></i>
        <span class="menu-text">
          Customers
        </span>
      {{/link-to}}
    {{/active-tag}}
    {{#active-tag path="vehicles"}}
      {{#link-to "vehicles"}}
        <i class="icon icon-home"></i>
        <span class="menu-text">
          Vehicles
        </span>
      {{/link-to}}
    {{/active-tag}}
  </ul>
</div>

<div class="main-content" {{bind-attr class="menuMini:menu-min"}}>
  <div class="page-content" style="padding-top: 90px">
    {{outlet}}
  </div>
</div>
