{{#form-for controller wrapper="twitter-bootstrap"}}
  {{#with person}}
    {{input make}}
    {{input year}}
  {{/with}}
  <div class="form-actions">
    <button class="btn btn-primary" {{action 'submit'}}>
      <i class="fa fa-check"></i>
      Submit
    </button>
  </div>
{{/form-for}}
