body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::after,
input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::after,
.ui-slider .ui-slider-handle:before {
  font-family: "Verdana", "Arial", sans-serif;
}

.progress {
  height: 35px;
  margin: 20px 0px 20px 0px;
  padding: 14px 0px;
}

.control {
  min-width: 120px;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active,
.btn-disabled.active,
.open .dropdown-toggle.btn-disabled,
.btn-disabled:active,
.btn-disabled.active,
.open .dropdown-toggle.btn-disabled {
  color: #ffffff;
  color: #000000 !important;
  background-color: #efefef !important;
  border-color: #8f8f8f;
  border-width: 3px;
  border-style: dashed;
}

.btn-disabled.disabled,
.btn-disabled[disabled],
fieldset[disabled] .btn-disabled,
.btn-disabled.disabled:hover,
.btn-disabled[disabled]:hover,
fieldset[disabled] .btn-disabled:hover,
.btn-disabled.disabled:focus,
.btn-disabled[disabled]:focus,
fieldset[disabled] .btn-disabled:focus,
.btn-disabled.disabled:active,
.btn-disabled[disabled]:active,
fieldset[disabled] .btn-disabled:active,
.btn-disabled.disabled.active,
.btn-disabled[disabled].active,
fieldset[disabled] .btn-disabled.active {
  background-color: #8f8f8f;
  border-color: #d43f3a;
}

table.table td.numeric {
  text-align: right;
  padding-right: 15px;
}

img.person-photo-grid {
  width: 48px;
  height: 48px;
  background-image: image-url("placeholder/person.48px.png");
}

div.thumbnails {
  clear: both;
  padding-top: 12px;
}

div.person-thumbnail {
  float: left;
  width: 96px;
  height: 96px;
  padding: 0px;
  margin: 0px 8px 8px 0px;
}

img.person-photo-thumbnail {
  width: 96px;
  height: 96px;
  background-image: image-url("placeholder/person.96px.png");
}

@media only screen and (max-width: 460px) {
  .navbar .navbar-header.pull-right {
    display: none;
  }
}

.zone-link {
  text-transform: uppercase;
  font-size: 11px;
}

.dashboard-facts {
  padding: 12px;
}

.dashboard-fact {
  background: #F5F5F5;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 5px 4px;
}

.dashboard-fact-highlight {
  background: #ffffff;
}

.dashboard-fact .icon {
  float: left;
  font-size: 30px;
  width: 40px;
  margin-right: 2px;
  color: #AAAAAA;
}

.dashboard-fact .fact-number {
  font-size: 36px;
  line-height: 47px;
  height: 44px;
}

.dashboard-fact .fact-label {
  font-weight: bold;
  font-size: 12px;
}

.dashboard-fact .icon { 
}

h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 6px;
}

// Bootstrap / Ace Overrides

.widget-header h3, .widget-header h4 {
  color: #404040;
}

.btn {
  border-radius: 4px;
}

// -- PLUpload --------------------------------------------------------------

.plupload_header_content {
  background: #EFEFEF;
  color: #505050;
  background-image: none;
  padding-left: 10px;
}

.plupload_button {
  color: #ffffff;
  background: #428bca;
  background-image: none;
  border-color: #357ebd;
  padding-left: 4px;
}

.plupload_disabled, .plupload_disabled:hover {
  display: none;
}

.plupload_filelist_footer {
  height: 40px;
}

.plupload_droptext {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #707070;
}

.full-width-text-area {
  width:100%;
}

.infobox .infobox-icon-bw {
  float: left;
  vertical-align: top;
  width: 44px;
  height: 42px;
  padding: 0;
  margin: 0;
}

.infobox .infobox-icon-bw [class*="icon-"]::before {
  display: block;
  font-size: 24px;
  color: #6E6E6E;
  padding: 6px 0px 7px;
  width: 40px;
  text-align: center;
}

.infobox-container {
  text-align: left;
}

.infobox .infobox-stage-state {
  float: left;
  padding: 4px 0px 0px 8px;
}

.infobox .infobox-stage-state .badge {
  border-radius: 0;
}

.widget-header {
  background: #F0F0F0;
}

.nav-devel > li > a  {
  height: 20px;
  line-height: 22px;
  font-size: 10px;
  text-transform: uppercase;
}
.nav-list > li > a > [class*="fa-"] {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}