<div class="row">
  <div class="col-md-offset-1 page-header">
    <h1>Vehicles</h1>
  </div>
</div>

{{#each vehicle in vehicles}}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        <i class="fa fa-truck"></i>
        {{vehicle.year}} {{vehicle.make}} belonging to {{vehicle.customer.name}}
      </h3>
    </div>
  </div>
{{/each}}


